*{
	margin: 0;
	padding: 0;
}

.slideshow img, li>label{
	display: block;
}

.slideshow ul, .slideshow li{
	list-style: none;
}

.slideshow{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.slideshow>input[type="radio"]{
	display: none;
}

.slides{
	width: 640px;
	height: 400px;
	position: relative;
}

.slides>li{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

input[name="slide"]:nth-child(1):checked ~ .slides>li:nth-child(1),
input[name="slide"]:nth-child(2):checked ~ .slides>li:nth-child(2),
input[name="slide"]:nth-child(3):checked ~ .slides>li:nth-child(3),
input[name="slide"]:nth-child(4):checked ~ .slides>li:nth-child(4){
	display: block;
}

.labels{
	display: flex;
	margin: 10px;
}

.labels>li:hover{
	box-shadow: 0px 5px 10px #abc, 0px -5px 10px #abc;
}